Lab 9
---
Hello All,

I am Dhrumil Soni, the CP of the course DSCI 510. Welcome to the lab.

Guidelines for the Lab:
- You will be given the lab assignment in the start of the lab. You're supposed to complete it by the deadline stated on DEN. Should be usually on Friday Midnight.  

- You've to complete the assignments individually. If you are having trouble completing the assignment do let me know, I will clear your doubts and guide you but I'll not write code for you and no one else should :) !!!  

- You have to fill in the code to this notebook and upload it to your repository. And simply, submit the link to the repo (which has all the lab submissions inside it). I know the link would be same over the submissions, but it's a simple way to map you on DEN and Github. Also, the jupyter notebook file name has to be in the form '(First name)-(Last name)-lab(Lab Number)'. All characters in lowercase. For example, first lab for me would be 'dhrumil-soni-lab1'  

- You are encouraged to look up resources online like python docs and stackoverflow. But, you are encouraged to look up the topics and not the questions themselves  

- Your last submission will be counted towards your grade on DEN and do not edit the repository after the deadline

Today, we are going to write some queries in order to create and manipulate tables.  

Info about sqlite python module: https://docs.python.org/3/library/sqlite3.html

For executing queries, this is the lifecycle that you'll follow:  
1. import the library `sqlite3`  
2. Create a connection to the database using `sqlite3.connect()`  
3. Create a cursor from the connection object we just created  
4. Execute queries to the database using the cursor object and the execute function.  
5. Lastly, make sure to commit and close the connection. (Likely to face problems if you forget this. In the worst case, try to restart the kernel.)

[5 points]
---

Let's first create a connection. You would have to fill the function below to connect to the database and create a cursor.  

`Database name: Lab9.db`

This function should return a tuple of connection and cursor, so that it could be used in further calls.

In [1]:
import sqlite3

def create_connection():
    
    conn = sqlite3.connect("Lab9.db")
    cur = conn.cursor()
    
    return conn, cur

Now, Let's look at the ```create table``` and ```insert into``` queries.  

#### Query to create a table
Query => `CREATE TABLE <table_name> (<column_name> <type>, <column_name> <type>, <column_name> <type>,...)`  
This creates a table with name and columns provided. Each column has a associated type to it as mentioned above.  


#### Query to insert into the table
Query => `INSERT INTO <table_name> values (<value>, <value>, <value>, ...)`  
This inserts into the table with name and the values provided.

[10 points]
---

Now, fill the function below to create a table. You can use the execute function from the cursor to call queries. No return/print  is required for this function.  

Don't forget about point 5. mentioned before. 

#### Properties of the table:
```
Table name: sample_table
Columns: (name(text), age(integer), address(text))
First two rows:
    ('sherlock holmes', 33, '221 B Baker street')  
    ('harry potter', 45, 'station 9 3/4, london')  
```

Note 1: You may want to drop the table before you create it.  
Note 2: Use the `create_connection()` that you created before.

In [2]:
def sample_data():
    
    conn, cur = create_connection()
    
    cur.execute('DROP TABLE IF EXISTS sample_table ')
    cur.execute('CREATE TABLE sample_table (name TEXT, age INTEGER, address TEXT)')
    cur.execute('INSERT INTO sample_table VALUES("sherlock holmes", 33, "221 B Baker street")')
    cur.execute('INSERT INTO sample_table VALUES("harry potter", 45, "station 9 3/4, london")')
    
sample_data()

Now, let's look at some SQL query examples before we go ahead. Read the comments carefully.  

If the first query doesn't work, the above function would probably be faulty.

In [ ]:
# Examples

# creating connection again
conn, cur = create_connection()

# Get all the entries in the sample_table

# * here represents that all columns in the table are selected
# Namely, name, age and address in our example
cur.execute('SELECT * FROM sample_table')
# This queries result are stored in inside the cursor object. 
# Try to look at dir(cur) to see how to retrieve results. 
# One simple way to do this is fetchall()
# This would return a list of tuples where each tuple is a row of our table with tuple values that are stored in our database
print(cur.fetchall())

# Let's look at a few more queries before we take off :)
# Get all rows where the age column's value is 33
cur.execute('SELECT * FROM sample_table WHERE age=33')
print(cur.fetchall())

# Get all rows where the age is greater than 35 and less than 50. (You can also use BETWEEN here.) 
cur.execute('SELECT * FROM sample_table WHERE age>35 AND age<50')
print(cur.fetchall())

# Get all rows with the name sherlock holmes. Select only the address and not other columns.
cur.execute('SELECT address FROM sample_table WHERE name=\'sherlock holmes\'')
print(cur.fetchall())

# You can also update the entries
# Update sherlock's age to be 34
cur.execute('UPDATE sample_table set age=34 where name=\'sherlock holmes\'')
cur.execute('SELECT * FROM sample_table')
print(cur.fetchall())

conn.commit()
conn.close()

# Also, I suggest you all to look at this website and go through it to get yourself more familiar with SQL queries
# https://www.w3schools.com/sql/

In the below cell, I have provided the code to create a database for the file titanic.csv. Before moving to the next question, please inspect the table's columns and data types.

Notice, how we can now use BonusLab's code to parse and create database. It is now imported from a file named Lab6code. Feel free to check it out.

In [3]:
import Lab6code

def create_titanic_dataset():

    conn, cur = create_connection()
    dataset = Lab6code.csv_dataset('titanic.csv', ',')
    cur.execute('DROP TABLE IF EXISTS titanic_dataset')
    cur.execute('''CREATE TABLE titanic_dataset 
                (PassengerId integer primary key, Survived integer, Pclass integer, Name text,Sex text, Age integer,Ticket text,Fare real)''')

    for i in range(1, dataset.__len__()):
        item = dataset.__get_item__(i)
        cur.execute("INSERT INTO titanic_dataset VALUES (?, ?, ?, ?, ?, ?, ?, ?)", item)

    conn.commit()
    conn.close()

create_titanic_dataset()

Q2.[15 points] 
---
For this question, you have to write queries on the `titanic_dataset` for the following questions and print the output for them.  
1. Get all rows of data where Pclass is 1  
2. Get information of all females who survived  
3. Get information of people who did not survive and were below 25 years of age. Order your output by age in ascending order  


Bonus Q.[5 points]
---
4. Update all fares with value 0 to the average of the fares without 0.

In [ ]:
# Query 1
print('Query 1 output')
# Write code here
conn, cur = create_connection()
cur.execute('SELECT * FROM titanic_dataset WHERE Pclass=1')
print(cur.fetchall())

In [ ]:
# Query 2
print('Query 2 output')
# Write code here
cur.execute('SELECT * FROM titanic_dataset WHERE Survived=1 and Sex=\'female\'')
print(cur.fetchall())

In [ ]:
# Query 3
print('Query 3 output')
# Write code here
cur.execute('SELECT * FROM titanic_dataset WHERE Survived=0 AND Age<25 ORDER BY Age')
print(cur.fetchall())

In [ ]:
# Query 4
print('Query 4 output')
# Write code here